<table class="table projects grid">
  <thead>
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render projects %>
  </tbody>
</table>
