<% cache ["v1", project] do %>
  <tr data-serialized="<%= project.to_json %>" class="project">
    <td><a href="#" class="destroy"><i class="icon-trash" /></a></td>
    <td><%= project.key %></td>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
  </tr>
<% end %>
