<% cache ["v2", project] do %>
  <tr data-serialized="<%= project.to_json %>" class="project">
    <td><a href="#" class="destroy btn btn-small btn-danger">Destroy</a></td>
    <td><%= project.key %></td>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
  </tr>
<% end %>
