<h2>Projects</h2>

<div class="GridDialog">
  <a href="#" data-modal="project_dialog" id="new_project_link" class="new_link">Create project</a>

  <%= render "list", :projects => @projects %>
  <%= render "dialog", :project => @project %>
</div>
