<h2>Projects</h2>

<div class="GridDialog">
  <button class="btn btn-primary new_link" data-modal="project_dialog" id="new_project_link">Create</button>
  or <%= link_to "Import", tyne_core.github_projects_path, :class => "btn" %> from Github

  <%= render "list", :projects => @projects %>
  <%= render "dialog", :project => @project %>
</div>
