<div class="pod" data-behaviour="pod">
  <div class="pod-header icon-chevron-down">
    <span>Grouping</span>
  </div>
  <div class="pod-content">
    Placeholder for grouping options.
  </div>
</div>
