<% cache ["v1", "dashboard", "audit", audit] do %>
<tr class="Activity">
  <td class="ActivityDescription">
    <%= content_tag :p, audit.formatted %>
    <%= content_tag :p, audit.details, :class => "audit-details" if audit.details %>
  </td>
  <td class="ActivityDate"><%= time_ago_in_words(audit.created_at) %></td>
</tr>
<% end %>
