<% content_for :sidebar do %>
  <ul class="nav nav-list">
    <li class="nav-header">My projects (<%= @projects.count %>)</li>
    <%= render :partial => "project", :collection => @projects %>
  </ul>
  <%= link_to "New project", projects_path, :class => 'btn btn-inverse btn-small' %>
<% end %>
