<% content_for :sidebar do %>
  <ul class="nav nav-list">
    <li class="nav-header">My projects (<%= @projects.count %>)</li>
    <% @projects.each do |project| %>
      <li><%= link_to project.name, issues_path(:filter => { :project_id =>  project.id }) %></li>
    <% end %>
  </ul>
<% end %>
