<% content_for :sidebar do %>
  <ul class="nav nav-list">
    <li class="nav-header">My projects (<%= @projects.count %>)</li>
    <%= render :partial => "project", :collection => @projects %>
  </ul>
<% end %>
